language: ruby
rvm:
  - 1.9.2
  - 1.9.3
env:
  - DB=sqlite
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate
  - bundle exec rake db:test:prepare
  - RAILS_ENV=test bundle exec rake --trace db:seed
  - bundle exec rspec
  - bundle exec cucumber --tags ~@buggery
bundler_args: --binstubs=./bundler_stubs
